<%= link_to program_lesson_path(@program, lesson), class: "lesson-row" do %>
<div><%= lesson.number %></div>
<div><%= lesson.date.strftime("%a, %b %d, %Y ") %></div>
<div><%= lesson.name %></div>
<div <%= color_of(lesson.avg_rating) %>><%= lesson.avg_rating %></div>
<div><%= lesson.instructor.name %></div>
<% end %>
