<main class="program-show">
  <section class="program-info">
    <h2><%= @program.name %></h2>
    <h3>Location:</h3>
    <p><%= @program.location %></p>
    <h3>Status:</h3>
    <% if @program.active? %>
      <p class="green"><strong>Active</strong></p>
    <% else %>
      <p class="red"><strong>Inactive</strong></p>
    <% end %>
    <% if current_user.producer? %>
      <p>
        <%= link_to "Edit Program", edit_program_path(@program), class: "button" %>
      </p>
    <% end %>
    <h3>Instructors:</h3>
    <% @instructors.each do |instructor| %>
    <p><%= instructor.name %></p>
    <% end %>
    <% if current_user.producer? %>
      <p>
        <%= link_to "Manage Instructors", manage_program_path(@program), class: "button" %>
      </p>
    <% end %>
  </section>
  <section class="lesson-gallery">
    <h3>Lessons <%= link_to "(+)", new_program_lesson_path(@program) %></h3>
    <div class="lesson-table">
      <div class="lesson-header">
        <div>Number</div>
        <div>Date</div>
        <div>Lesson</div>
        <div>Average Rating</div>
        <div>Instructor</div>
      </div>
      <% @lessons.each do |lesson| %>
        <%= render partial: "lesson_row", locals: {lesson: lesson} %>
      <% end %>
    </div>
  </section>
</main>
