<!DOCTYPE html>
<html>
  <head>
    <title>ExitTicketApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>
    <nav class="site-wide">
    <h1><%= link_to root_path do %><span class="logo">GA </span>Exit Tickets<% end %></h1>
      <span class="separate"></span>
      <% if current_user %>
        <%= link_to current_user.email, account_path %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
