<%= link_to program_lesson_survey_path(@program.name, @lesson.number, survey), class: "survey-row" do %>
  <div><%= survey.respondent_name %></div>
  <div><%= survey.positive_comment %></div>
  <div><%= survey.negative_comment %></div>
  <div><%= survey.general_comment %></div>
  <div>
    <% if survey.attended_office_hours? %>
      &check;
    <% end %>
  </div>
<% end %>
