<main>
  <% if @lesson.errors.full_messages.any? %>
    <div>
      <% @lesson.errors.full_messages.each do |error_message| %>
        <p><%= error_message %></p>
      <% end %>
    </div>
  <% end %>
  <%= form_for @lesson, url: program_lesson_path(@program.name, @lesson) do |f| %>
    <%= f.label :number, "Lesson Number" %>
    <%= f.number_field :number %>

    <%= f.label :name, "Lesson Name" %>
    <%= f.text_field :name %>

    <%= f.label :date, "Lesson Date" %>
    <%= f.date_field :date %>

    <%= f.label :start_time, "Lesson Start Time" %>
    <%= f.time_field :start_time %>

    <%= f.label :end_time, "Lesson End Time" %>
    <%= f.time_field :end_time %>

    <%= f.label :user_id, "Instructor" %>
    <%= f.collection_select :user_id, @instructors, :id, :name %>
    <br />
    <%= f.submit "Update Lesson" %>
  <% end %>
  <%= form_for @lesson, url: program_lesson_path(@program.name, @lesson), method: :delete, data: { confirm: 'Are you sure?' } do |f| %>
    <%= f.submit "Delete Lesson" %>
  <% end %>
</main>
