<main>
  <% if @survey.errors.full_messages.any? %>
    <div>
      <% @survey.errors.full_messages.each do |error_message| %>
        <p><%= error_message %></p>
      <% end %>
    </div>
  <% end %>
  <%= form_for @survey, url: program_lesson_surveys_path(@program.name, @lesson.number) do |f| %>
    <%= f.label :respondent_name, "Please Enter Your Name (Optional)"  %>
    <%= f.text_field :respondent_name %>

    <%= f.label :lo_rating, "I feel that I achieved the learning objectives for this lesson"  %>
    <% 10.times do |i|%>
      <%= f.radio_button :lo_rating, i + 1, id: "lo-rating-#{i + 1}" %>
      <%= f.label :lo_rating, i + 1, for: "lo-rating-#{i + 1}" %>
    <% end %>

    <%= f.label :delivery_rating, "The lesson agenda was well-organized and delivered"  %>
    <% 10.times do |i|%>
      <%= f.radio_button :delivery_rating, i + 1, id: "delivery-rating-#{i + 1}" %>
      <%= f.label :delivery_rating, i + 1, for: "delivery-rating-#{i + 1}" %>
    <% end %>

    <%= f.label :comfort_rating, "I feel prepared to continue practicing this skill outside of class"  %>
    <% 10.times do |i|%>
      <%= f.radio_button :comfort_rating, i + 1, id: "comfort-rating-#{i + 1}" %>
      <%= f.label :comfort_rating, i + 1, for: "comfort-rating-#{i + 1}" %>
    <% end %>

    <%= f.label :positive_comment, "What did you like about today's lesson?" %>
    <%= f.text_area :positive_comment %>

    <%= f.label :negative_comment, "What could have been better?" %>
    <%= f.text_area :negative_comment %>

    <%= f.label :general_comment, "Do you have any other questions about the material or general comments?" %>
    <%= f.text_area :general_comment %>

    <%= f.label :attended_office_hours, "Have you gone to Office Hours this week?" %>
    <%= f.radio_button :attended_office_hours, true, id: "office-hours-true" %>
    <%= f.label :attended_office_hours, "Yes", for: "office-hours-true" %>
    <%= f.radio_button :attended_office_hours, false, id: "office-hours-false" %>
    <%= f.label :attended_office_hours, "No", for: "office-hours-false" %>

    <br>
    <%= f.submit "Submit Exit Ticket" %>

  <% end %>

</main>
